.guarantees {
    padding: 60px;
}

.guarantees__content {
    background-color: #fff;
    padding: 60px 30px;
}

.guarantees__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
h1{
    margin-bottom: 30px;
}
@media (max-width: 575px){
    .guarantees {
        padding: 10px;
    }
    .container {
        width: 100%;
        padding:0 8px;
    }
}