{% extends 'base.html' %}
{% block title %}Добро пожаловать!{% endblock title %}
{% block staticfiles %}
{% load  static %}
<link  rel="stylesheet" href="{% static 'css/reset.css' %}">
{% endblock staticfiles %}

{% block content %}
    <div class="reset">
        <div class="container">
            <div class="reset__content">
                <h1>Установить новый пароль</h1>
                <form method="post">
                    {% csrf_token %}
                    
                    {{ form.as_p }}
                    <button type="submit" class="reset-btn">Подтвердить</button>
                </form>
            </div>
            
        </div>
    </div>
{% endblock %}