{% extends 'base.html' %}
{% block title %}Добро пожаловать!{% endblock title %}
{% block staticfiles %}
{% load  static %}
<link  rel="stylesheet" href="{% static 'css/guarantees.css' %}">
{% endblock staticfiles %}
{% block content %}

<div class="guarantees">
    <div class="container">
        <div class="guarantees__content">
            <h1>Гарантии</h1>
            <div class="guarantees__wrapper">
                <p>Уважаемые покупатели!<br><br>

                    Мы гарантируем качество и надежность всех товаров, представленных на нашем сайте. Мы работаем только с проверенными производителями и поставщиками, чтобы обеспечить нашим клиентам только лучшее пневматическое оружие.<br><br>
                    
                    Мы предоставляем гарантию на все товары, которые вы приобретаете у нас. Мы гарантируем, что каждый товар соответствует описанию на сайте и имеет высокое качество.<br><br>
                    
                    Кроме того, мы предлагаем дополнительные гарантии на бесплатный возврат товара в течение определенного периода времени или на бесплатный ремонт в случае обнаружения дефектов. Мы всегда готовы помочь нашим клиентам и решить любые проблемы, связанные с пневматическим оружием. <br><br>
                    
                    Однако, чтобы избежать возможных проблем и повреждений, мы рекомендуем следовать инструкциям по эксплуатации и хранению пневматического оружия. Мы заботимся о безопасности наших клиентов и всегда готовы ответить на любые вопросы, связанные с эксплуатацией пневматического оружия.<br><br>
                    
                    С уважением,<br>
                    Команда нашего сайта.</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}